.aaa{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    position: relative;
    width: 900px;
    height: 600px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: block;
    justify-content: center;
    align-items: center;
    left: 300px;
}
#more{
    display: none;
}
h1{
    color: black;
    text-shadow: 2px 2px rgb(228, 77, 77); 
    font-size: 3rem;
}
body {
    
    min-height: 100vh;
    background-image: url(https://thumbs.dreamstime.com/b/quiz-game-show-retro-background-vintage-trivia-night-poster-pub-marketing-design-vector-illustration-yellow-text-blue-quiz-199430214.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
   
    
}
